<!DOCTYPE html>
<html>
  <head>
    <title>search.libre | An OpenNIC Search Engine</title>
    {% include "head.tera" %}
  </head>
  <body class="home">
    <div id="index-box">
      <img class="logo" />
      <div class="search-bar">
        <form id="searchbar" action="/search" method="get">
          <input type="text" name="q" placeholder="Search..." required />
          <button type="submit" class="search-button">Search</button>
        </form>
      </div>
    </div>
    {% include "footer.tera" %}
  </body>
</html>
